.aboutus h2{
    margin-top:50px;
    text-align: center;
    font-size: 35px;
}
.line{
    display: block;
    width: 1300px;
    margin:30px 0px 30px 100px;
    height: 1px;
    background-color: rgb(65, 63, 63);
}
.aboutus p{
    font-size: 20px;
    padding: 30px;
}
.ourproducts h2{
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
}
#aboutus{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top:50px;
}
#aboutus #item{
   width:253px;
   height:330px;
   border: 2px solid rgb(226, 220, 220);
   border-radius: 8px;
}
#aboutus img{
    width:250px;
    height:250px;
    border-radius: 5px;
}
#aboutus p{
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}
