.contactus{
    text-align: center;
    font-size: 30px;
}
.line{
    display: block;
    width: 1300px;
    margin:15px 0px 0px 100px;
    height: 1px;
    background-color: rgb(65, 63, 63);
}
.form{
    font-size: 20px;
    width:400px;
    margin:30px 600px;
}
.form input{
    font-size: 20px;
    margin: 5px 0px 25px 0px;
    padding: 15px 130px 15px 10px;
    border:2px solid rgb(157, 152, 152);
    border-radius: 5px;
}
.form textarea{
    font-size: 22px;
    margin-top:8px;
    padding: 10px 140px 70px 10px;
    border:none;
    border:2px solid rgb(157, 152, 152);
    border-radius: 5px;
}
.form button{
    font-size: 15px;
    width:100px;
    height:40px;
    margin: 20px 0px 0px 150px;
    border-radius: 5px;
    background-color: rgb(60, 59, 59);
    color:white;
}
.footer p{
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}