*{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.login{
    margin-top:30px;
    text-align: center;
    font-size: 30px;
}
.line{
    display: block;
    width: 1300px;
    margin:20px 0px 10px 100px;
    height: 1px;
    background-color: rgb(145, 140, 140);
}
.form{
    font-size: 20px;
    width:400px;
    margin:30px 600px;
}
.form #email{
    margin: 5px 0px 25px;
    font-size: 20px;
    padding: 20px 100px 20px 10px;
    border:2px solid rgb(157, 152, 152);
    border-radius: 5px;
}
.form #pswd{
    padding: 20px 100px 20px 10px;
    font-size: 20px;
    border:2px solid rgb(157, 152, 152);
    border-radius: 5px;
}
.form p a{
    display: inline-block;
    margin-top: 10px;
    color:aqua;
    font-size: 22px;
    text-decoration: none;
}
.form button{
    font-size: 15px;
    width:100px;
    height:40px;
    margin: 20px 0px 0px 130px;
    border-radius: 5px;
    background-color: rgb(60, 59, 59);
    color:white;
}