<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../Assets/CSS/Header.css">
    <link rel="stylesheet" href="../Assets/CSS/Footer.css">
    <link rel="stylesheet" href="../Assets/CSS/aboutus.css">
</head>
<body>
     <!-- Header Starts Here -->
     <header id="header">
        <div id="logo"><h2>Tech Shop</h2></div>
         <div id="nav-links">
             <a class="active" href="../index.html">Home</a>
             <a href="./product_page.html">Products</a>
             <a href="./aboutus.html">About</a>
             <a href="./contact.html">Contact</a>
         </div>
        <div id="nav-buttons">
         <button><a href="./login.html"><span><i class="fa-solid fa-right-to-bracket"></i></span>Login</a></button>
         <button><a href="./Register.html"><span><i class="fa-solid fa-user-plus"></i></span>Register</a></button>
         <button><a href="./cart_page.html"><i class="fa-sharp fa-solid fa-cart-shopping"></i>Cart<span id="cart-count"> (0)</span></a></button>
        </div>
     </header>
     <div class="aboutus">
        <h2>About Us</h2>
        <span class="line"></span>
        <p>Welcome to our Website, your ultimate destination for fashion and technology! We are dedicated to bringing you the finest collection of men’s and women’s clothing and the latest in electronics, all in one place. 
            Our goal is to provide a seamless shopping experience that caters to your lifestyle needs.<br><br>
            In the Men's Clothing section, you'll find a wide range of stylish and comfortable outfits perfect for every occasion. Whether you're looking for casual wear, formal attire, or seasonal fashion, we've got you covered with premium-quality apparel designed to suit your personality and preferences.
            Our Women's Clothing collection is all about elegance, versatility, and modern trends. From chic casual wear to glamorous outfits for special occasions, we ensure that every piece exudes style and sophistication to make you feel confident and unique.
            For the tech enthusiasts, our Electronics section features the latest gadgets and devices to keep you connected and up to date. Whether it's essential accessories, innovative tools, or high-performance gadgets, our curated collection ensures top-notch quality and functionality.
            At Website we pride ourselves on delivering exceptional value. Every product is carefully selected to guarantee quality, affordability, and customer satisfaction. Shop with us today and explore a world where fashion meets technology with ease and convenience!
            </p>
    </div>
    <div class="ourproducts"><h2>Our Products</h2></div>
    <div id="aboutus">
        <div id="item"><img src="../Assets/Images/pexels-photo-298863.jpeg" alt="mens clothing">
            <p>Mens Clothing</p>
        </div>
        <div id="item"><img src="../Assets/Images/pexels-photo-7679720.jpeg" alt="womens clothing">
            <p>Women Clothing</p></div>
        <div id="item"><img src="../Assets/Images/pexels-photo-1927259.webp" alt="jewelery">
            <p>Jewelery</p></div>
        <div id="item"><img src="../Assets/Images/pexels-photo-356056.jpeg" alt="electronics">
            <p>Electronics</p></div>
    </div>
    <div class="footer"><p>Made with by ❤️ Sanjay</p></div>
   
</body>
</html>